<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/3274/3274099.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Family Table</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="content" role="main">
      <div class="hero">
        <h1 class="title">Family Table</h1>
        <div class="hero-description">
          Discover Delicious Home-Cooked Meals Near You
        </div>
      </div>
      <div class="meal-container">
        <div class="thank-you">
          Thank you for ordering, [NAME]! You may pick up your food at
          {{pickup}}.
          <b>Remember to have ${{money}}
            ready to pay in either cash or Venmo.</b>
        </div>
        <img
          id="thank-you-img"
          src="https://cdn-icons-png.flaticon.com/512/5134/5134743.png"
        />
        <a id="back-to-home" href="/">Back to home screen</a>
      </div>
    </div>
  </body>
</html>
